@import "@fontsource/poppins";
@import "@fontsource/poppins/800.css";
@import "@fontsource/poppins/700.css";
@import "aos/dist/aos.css";
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.navbar {
  background-color: white;
}
nav {
  a {
    color: black !important;
  }
}
body {
  font-family: "Poppins";
}
a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-weight: bold;
}
h2 {
  font-weight: 700;
}
* {
  box-sizing: border-box;
}

section {
  padding: 3rem 0;
}

section:nth-child(even) {
  background-color: #f4f4f4;
}

.vision {
  background-color: white !important;
}

footer {
  background-color: #ccc;
}
